@import "../../common/colors.scss";

.data-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 15px;
}

.data-list {
    margin: 20px 0px;
    h2 {
        color:  $font-secondary;
        font-weight: 400;
        margin-bottom: 10px;
    }
}